[submodule "home/sokolov/.vim"]
	path = home/sokolov/.vim
	url = git://github.com/qbbr/dotvim.git
[submodule "home/sokolov/sft/ls++"]
	path = home/sokolov/sft/ls++
	url = git://github.com/trapd00r/ls--.git
[submodule "home/sokolov/sft/skb"]
	path = home/sokolov/sft/skb
	url = git://github.com/polachok/skb.git
[submodule "home/sokolov/sft/dwm"]
	path = home/sokolov/sft/dwm
	url = git://github.com/qbbr/dwm.git
