# ~/.rtorrent.rc

# указывает минимальное и максимальное количество пиров в загружаемой закачке(торренте)
#min_peers = 40
max_peers = 100

# устанавливает значение минимального и максимального количества пиров в раздаваемом(сидируемом) торренте,
# по умолчанию -1, то есть неограничено
#min_peers_seed = 10
#max_peers_seed = 50

# устанавливает количество раздач с торрента
max_uploads = 8

# определяет скорость раздачи, скачивания.
download_rate = 500
upload_rate = 1

# директория куда будут скачиваться Ваши файлы
directory = /media/dwnlds/torrent

# директория, в которую будут размещаться открытые закачки,
# по умолчанию directory
session = /media/dwnlds/.torrent_sessions

# каждые 5 секунд проверяет этот каталог на новые .torrent файлы
# и если они есть то ставит их на закачку
schedule = watch_directory,5,5,load_start=/media/dwnlds/torrent_files/*.torrent

# каждые 60 секунд проверяет на наличие свободного места на диске
# и если меньше 100M, то закрывает все торренты
schedule = low_diskspace,5,60,close_low_diskspace=100M

# диапазон портов по которым будет идти подключение
port_range = 49164-49164

# открывает случайный порт из заданного диапазона
port_random = yes

# проверять hash файла по окончании закачки
check_hash = yes

# использовать UDP протокол, лучше отключить(параметр no), если вы находитесь за firewall’ом
use_udp_trackers = yes

# принимать зашифрованные входящие соединения,
# шифрование исходящих соединений,
# если первоначальное исходящее установление связи окажется неудачным, повторить с
# шифрованием, если оно было отключено, и без, если шифрование использовалось
encryption = allow_incoming,try_outgoing,enable_retry

# включает DHT при возможности для безтрекерных торрентов или для случаев, когда все ретрекеры лежат
dht = auto

# UDP порт, используемый DHT
dht_port = 6881

# включить расширения торрентов не помеченных как приватные
peer_exchange = yes

# кол-во памяти запрашиваемого у ядра, малое значение может вызвать
# простой дисковой подсистемы, большое к сбросу страниц памяти
hash_read_ahead = 10

# интервал между попытками хеширования
hash_interval = 100

# кол-во попыток проверки хеша во время mincore статуса,
# перед принуждением. Нагруженные системы должны использовать меньшие
# значени для получения нормальной скорости проверки хеша
hash_max_tries = 10

# configuration for color patch
done_fg_color=2
#done_bg_color=3
active_fg_color=1
#active_bg_color=5
